@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap');
/* *{
    border: 1px solid red;
} */

.navbar .container img {
    width: 8em;
    height: auto;
    object-fit: cover;

}

.bg-info {
    background-color: #629cce!important;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}